body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

/* HEADER */

.topbar{
background:#0071ce;
color:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 40px;
}

.logo{
font-size:24px;
font-weight:bold;
}

.search input{
width:350px;
padding:10px;
border-radius:25px;
border:none;
}

.icons{
display:flex;
gap:20px;
font-weight:bold;
}

.carritoBtn{
cursor:pointer;
}

/* MENU */

.menu{
background:#ffc220;
}

.menu ul{
display:flex;
gap:30px;
list-style:none;
padding:12px 40px;
margin:0;
font-weight:bold;
}

.menu li{
cursor:pointer;
}

/* BANNER */

.banner img{
width:100%;
height:300px;
object-fit:cover;
}

/* PRODUCTOS */

.productos{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
padding:40px;
}

.producto{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
transition:0.2s;
}

.producto:hover{
transform:scale(1.04);
}

.producto img{
width:100%;
height:160px;
object-fit:cover;
}

.precio{
font-size:20px;
color:#0071ce;
font-weight:bold;
}

.producto button{
background:#ffc220;
border:none;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
margin-top:10px;
font-weight:bold;
}

.producto button:hover{
background:#e6ac00;
}

/* CARRITO */

.panelCarrito{
position:fixed;
top:0;
right:-350px;
width:300px;
height:100%;
background:white;
padding:20px;
box-shadow:-5px 0 10px rgba(0,0,0,0.2);
transition:0.3s;
overflow:auto;
}

.panelCarrito.activo{
right:0;
}

.itemCarrito{
display:flex;
justify-content:space-between;
border-bottom:1px solid #ddd;
padding:10px 0;
}

.itemCarrito button{
background:red;
color:white;
border:none;
padding:4px 8px;
cursor:pointer;
}

/* FOOTER */

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

.productoIndividual{
display:flex;
gap:40px;
padding:40px;
}

.productoIndividual img{
width:300px;
}

.productoIndividual button{
padding:10px 20px;
background:#ffc220;
border:none;
cursor:pointer;
}

form{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
}

form input{
padding:10px;
}
