body{
font-family:Arial;
margin:0;
background:#f3f3f3;
}

.topbar{
background:#0071ce;
color:white;
display:flex;
justify-content:space-between;
padding:15px 30px;
align-items:center;
}

.logo{
font-size:22px;
font-weight:bold;
}

.topbar input{
padding:8px;
width:250px;
border-radius:6px;
border:none;
}

/* SLIDER */

.slider{
width:100%;
height:180px;
overflow:hidden;
}

.slider img{
width:100%;
height:180px;
object-fit:cover;
}

/* MENU */

.menu{
background:#ffc220;
padding:10px;
text-align:center;
}

.menu button{
margin:5px;
padding:8px 15px;
border:none;
border-radius:5px;
cursor:pointer;
}

/* PRODUCTOS */

.productos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:30px;
}

.producto{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
transition:0.2s;
}

.producto:hover{
transform:scale(1.05);
}

.producto img{
width:100%;
height:140px;
object-fit:cover;
}

.precio{
color:#0071ce;
font-weight:bold;
}

.producto button{
background:#ffc220;
border:none;
padding:8px;
border-radius:5px;
cursor:pointer;
}

/* CARRITO */

.panelCarrito{
position:fixed;
top:0;
right:-350px;
width:320px;
height:100%;
background:white;
padding:20px;
transition:0.3s;
box-shadow:-4px 0 10px rgba(0,0,0,0.3);
}

.panelCarrito.activo{
right:0;
}

.carritoHeader{
display:flex;
justify-content:space-between;
}

.checkoutBtn{
width:100%;
background:#0071ce;
color:white;
padding:10px;
border:none;
border-radius:6px;
cursor:pointer;
}

/* CUENTA */

.panelCuenta{
position:fixed;
left:-300px;
top:0;
width:250px;
height:100%;
background:white;
padding:20px;
transition:0.3s;
}

.panelCuenta.activo{
left:0;
}
